In [1]:
employee = {
    'id':[1, 2, 3],
    'name':['Nitin', 'Gautam', 'Ramesh'],
    'email':['a@x.com', 'b@x.com', 'c@x.com']   
}

In [2]:
employee['email']

['a@x.com', 'b@x.com', 'c@x.com']

In [5]:
import pandas as pd

In [7]:
df = pd.DataFrame(employee)

In [8]:
df.size

9

In [9]:
df.shape

(3, 3)

In [10]:
df

   id    name    email
0   1   Nitin  a@x.com
1   2  Gautam  b@x.com
2   3  Ramesh  c@x.com

In [11]:
df['email']

0    a@x.com
1    b@x.com
2    c@x.com
Name: email, dtype: object

In [12]:
type(df['email'])

pandas.core.series.Series

In [13]:
df.email

0    a@x.com
1    b@x.com
2    c@x.com
Name: email, dtype: object

In [14]:
df[['name', 'email']]

     name    email
0   Nitin  a@x.com
1  Gautam  b@x.com
2  Ramesh  c@x.com

In [15]:
df.columns

Index(['id', 'name', 'email'], dtype='object')

In [19]:
#locate rows by integer location. It will print along with column name to distunguish
df.iloc[0]

id             1
name       Nitin
email    a@x.com
Name: 0, dtype: object

In [22]:
#locate multiple rows
df.iloc[[0,1]]

   id    name    email
0   1   Nitin  a@x.com
1   2  Gautam  b@x.com

In [23]:
#access email for first 2 rows. Note: index start with 0 and since email id third column its index will be 2
df.iloc[[0,1], 2]

0    a@x.com
1    b@x.com
Name: email, dtype: object

In [25]:
#locate rows by label. It will print along with column name to distunguish
df.loc[0] #since 0, 1, 2 are labels here

id             1
name       Nitin
email    a@x.com
Name: 0, dtype: object

In [26]:
df.loc[[0,1]]

   id    name    email
0   1   Nitin  a@x.com
1   2  Gautam  b@x.com

In [28]:
#for columns we can use labels
df.loc[[0,1], 'email']

0    a@x.com
1    b@x.com
Name: email, dtype: object

In [29]:
df.loc[[0,1], ['name','email']]

     name    email
0   Nitin  a@x.com
1  Gautam  b@x.com

In [30]:
import pandas as pd

In [31]:
df = pd.read_csv('survey_results_public.csv')

In [32]:
df.shape

(88883, 85)

In [33]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [34]:
df['Hobbyist']

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [35]:
df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [36]:
df['Hobbyist'][0]

'Yes'

In [41]:
#first row value. All responses by first person
df['Hobbyist']

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [42]:
df.loc[[0,1,2], 'Hobbyist']

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [43]:
#slicing. Get values for first 4 rows. 0 will always be included
df.loc[0:3, 'Hobbyist']

0    Yes
1     No
2    Yes
3     No
Name: Hobbyist, dtype: object

In [44]:
df.loc[0:3, 'Hobbyist':'Employment']

,Hobbyist,OpenSourcer,OpenSource,Employment
0,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
1,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"
2,Yes,Never,The quality of OSS and closed source software ...,Employed full-time
3,No,Never,The quality of OSS and closed source software ...,Employed full-time